.places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
    /*align-items: center;*/
    float: left;
}

.places h1{
    font-size: 30px;
    text-align: left;
    }
.places h2{
    font-size: 30px;
    text-align: center;
}

.price_by_night{
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    min-width: 60;
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
    width: 60px;
    text-align: center;
    display: flex;
    padding: 15px;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
}
.information {
    display: flex;
    border-top: 1px solid  #DDDDDD;
    border-bottom: 1px solid  #DDDDDD;
    margin-top: 20px;
    width: 100%;
    justify-content: space-around;
}

.information p {
	padding-top: 35px;
	text-align: center;
	display: inline-block;

}

.description, .user, .amenities, .reviews{
    width: 100%;
}

.information .max_guest{
    background: url('../images/icon_group.png') center 0 no-repeat;

     margin-top: 6px;
    }

.information .number_rooms{
    background: url('../images/icon_bed.png') center 0 no-repeat;
    margin-top: 6px;
}

.information .number_bathrooms{
    background: url('../images/icon_bath.png') center 0 no-repeat;
    margin-top: 6px;
}
.amenities, .reviews{
    margin-top: 40px;

}
.amenities h2, .reviews h2{
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    text-align: left;

}

.amenities li{
    text-indent: 50px;
    padding-bottom: 4px;
}
.tv{
    background: url('../images/icon_tv.png') no-repeat;
    background-size: contain;
}
.wifi{                                         background: url('../images/icon_wifi.png') no-repeat;
    background-size: contain;
}

.pet{                                         background: url('../images/icon_pets.png') no-repeat;
    background-size: contain;
}
.amenities li, .reviews li{
    list-style-type: none;
    padding-left: 0px;

    }
.reviews h3{
    font-size: 14px;
}

.reviews p{
    font-size: 12px;
}

footer {
	position: relative;
}
